body {
  width: 100%;
  color: #000;
  position: relative;
  font-size: 17px;
  overflow-x: hidden;
  background: #fff;
  line-height: 1.4;
  font-family: "WorkSans-Regular";
}

@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding-right: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1470px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
