body {
  width: 100%;
  color: #000;
  position: relative;
  font-size: 17px;
  overflow-x: hidden;
  background: #fff;
  line-height: 1.4;
  font-family: "WorkSans-Regular";
}
main {
  height: 95vh;
}

.bg-light {
  background-color: #ffffff !important;
  border-bottom: 1px solid #000;
}

.div-link {
  cursor: pointer;
}
.carousel-item > img {
  width: 100%;
  height: 650px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding-right: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1470px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
